@CHARSET "UTF-8";
.bodyBackground {
    background-color: #f9f7f6;
}

/*¶¥²¿logo²¿·Ö*/
.logo {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 5px;
    cursor: pointer;
}

.logoText {
    float: left;
    margin-left: 10px;
}

.slideShow {
    width: 1300px !important;
    height: 400px !important;
}

.toDisplay {
    padding-top: 50%;
}

.footer-nav {
    border-radius: 4px;
    padding-top: 30px;
    margin-bottom: 0px;
    height: 100px;
}
.footer-P {
    color:#ffffff;
}